html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: silver;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: silver;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 2px;
    border: 1px;
}

#map{
    height: 90%;
    width: 100%;
}

#heading{
    height: 35px;
    width: 100%;
}

.loc-sidebar{
    width: 200px;
    position: fixed;
    z-index: 1;
    overflow: auto;
    display: none;
    background-color: silver;
}
